body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
  font-size: 2.5rem;
  text-shadow: 0 2px #816fca;
  font-weight: 400;
}

h2 {
  font-size: 2.25rem;
  margin: .167em 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.35;
}

.beta-text, .subheading {
  text-transform: uppercase;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: .5em;
}

/* =================
    Flex containers
   ================= */
.intro, .main-content {
  display: flex;
  flex-direction: column;
}

/* =================
    Intro
   ================= */
   
.intro { 
  text-align: center;
  justify-content: center;
  min-height: 250px;
  color: #fff;
  background-color: #9480e4;
  background: #9480e4 url("./images/intro-bg.png");
  background-size: cover;
}

/* ====================
    Main content
   ==================== */
.main-content {
  align-items: center;
  padding: 2.5em 2em 0 2em;
}

.img-main {
  width: 120px;
  border-radius: 50%;
}

/* =================
    Form
   ================= */
   input, .btn {
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
   }

   form input {
    display: block;
    margin-bottom: .75em;
    padding: .5em;
    border: 2px solid #d1d5db;
    border-radius: 5px;
   }

   form input:focus {
    outline: none;
    background-color: #e6e8ec;
    border: 2px solid #8a71ec;
   }

   .btn {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #8a71ec;
    color: #e6e8ec;
    border: none;
    display: block;
    padding: 1em 0;
    cursor: pointer;
    margin-top: 1em;
   }

   .btn:hover {
    background-color: #b7a7f6;
   }

/* =================
    Media queries 
   ================= */
@media (min-width: 576px) {
  body {
    display: flex;
  }

  .intro, .main-content {
    width: 50%;
  }

  .intro {
    height: 100vh;
  }

  .main-content {
    padding-top: 0;
    justify-content: center;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }
}